<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title><%= @title %> </title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <p>Antani</p>
    <ul>
      <% (0..11).each do |i| %>
        <li>Entry mese <%= i %>: <%= dati_mese[i]%></li>
      <% end %>
    </ul>
  </body>
</html>
