<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <script src="//www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>
  <body class='container'>
    <%= line_chart dati_mese, xtitle: "Mese", ytitle: @titolo1 %>
  </body>
</html>
